article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  color: #333333;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif; }

header {
  background: #A0CED9;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header h2 {
    color: #333333;
    margin: 0;
    padding: 0;
    background: none;
    padding-bottom: 50px; }

h1 {
  font-family: 'Dosis', sans-serif;
  padding-top: 30px;
  font-size: 15rem;
  margin: 0;
  font-weight: 700; }

.header-period {
  color: #FFEE93; }

h2 {
  font-family: 'Dosis', sans-serif;
  color: black;
  text-align: center;
  padding-top: 100px;
  font-size: 5rem;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(85%, transparent), color-stop(85%, #FFEE93));
  background-image: -webkit-linear-gradient(transparent 85%, #FFEE93 85%);
  background-image: -o-linear-gradient(transparent 85%, #FFEE93 85%);
  background-image: linear-gradient(transparent 85%, #FFEE93 85%);
  display: inline-block; }

#name {
  border: none;
  background: transparent;
  border-bottom: 2px dotted #333333;
  color: #333333;
  text-align: center;
  font-family: "Dosis";
  font-size: 4rem; }

.button-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-top: 30px;
  background-image: url("assets/sunRaysOutline1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -ms-flex-item-align: center;
  align-self: center; }

.user-name {
  display: block; }

.user-info {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.fa-arrow-down {
  text-shadow: 1px 1px 1px 1px grey;
  font-size: 3rem; }

.user-submit {
  background-color: transparent;
  z-index: 10;
  border: none;
  font-size: 3.5rem;
  color: #FFEE93;
  width: 100%;
  height: 120px; }

.user-submit:hover .fa-arrow-down {
  color: #FFEE93; }

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.user-reason-form {
  background: url("assets/geometry.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh; }

.user-reason {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.user-reason .button-container, .user-style .button-container {
  background-image: url("assets/sunRaysOutlineGrey.jpg"); }

.user-reason .fa-arrow-down, .user-style .fa-arrow-down {
  color: #333333; }

.user-style-form {
  background: url(assets/geometry.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh; }

.user-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  background-color: #A0CED9;
  font-size: 2.4rem;
  display: block;
  height: 200px;
  width: 200px;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px; }

input[type="radio"]:checked + label {
  background-color: #FFEE93;
  -webkit-transition: background-color, color .2s;
  -o-transition: background-color, color .2s;
  transition: background-color, color .2s; }

.results-wrapper {
  background: url("assets/geometry.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.results-buttons {
  padding-top: 80px;
  padding-bottom: 10px; }

.results {
  display: block;
  width: 70%;
  margin: 0 auto;
  border: #333333 4px solid;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #FAFAFA;
  padding: 100px 20px 0 20px;
  -webkit-box-shadow: 5px 10px #FFEE93;
  box-shadow: 5px 10px #FFEE93; }

.pep-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px; }

.get-pep-talk {
  display: block;
  margin: 0 auto;
  border: none;
  background: none; }

.pep-paragraph {
  width: 50%;
  padding: 10px; }

.pep-paragraph p:nth-child(1) {
  font-weight: bold; }

.new-choice {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  width: 60%;
  margin: 0 auto; }
  .new-choice:hover {
    cursor: pointer; }

.reset-page, .save-button {
  border: none;
  background: #FAFAFA;
  background-image: url("assets/start-over.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 5%;
  padding: 0 50px;
  font-family: 'Dosis', sans-serif; }

.save-button {
  border: none;
  background: #FAFAFA;
  background-image: url("assets/download-arrow.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 5%;
  padding: 0 50px;
  font-family: 'Dosis', sans-serif; }

.gif-container {
  width: 50%; }

img {
  max-width: 100%; }

.hide {
  display: none; }

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

h3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #FFEE93));
  background-image: -webkit-linear-gradient(transparent 60%, #FFEE93 60%);
  background-image: -o-linear-gradient(transparent 60%, #FFEE93 60%);
  background-image: linear-gradient(transparent 60%, #FFEE93 60%);
  display: inline-block;
  font-family: 'Dosis', sans-serif; }

@media (max-width: 1280px) {
  .input-container {
    width: 100%; }
  .results {
    width: 90%;
    margin: 10px; }
  .user-reason {
    width: 100%; }
  .user-style {
    width: 90%; }
  .user-style .input-container {
    width: 90%; } }

@media (max-width: 1000px) {
  h1 {
    font-size: 10rem;
    padding: 0; }
  header h2 {
    font-size: 4rem; }
  input[type="radio"] + label {
    width: 70%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    font-size: 2rem;
    margin: 5px;
    border-radius: 5px; }
  .user-style input[type="radio"] + label {
    padding: 20px 0; }
  .why-pep-talk {
    padding-top: inherit; }
  .pep-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .pep-paragraph {
    width: 90%;
    padding: 0; }
  .results-buttons {
    padding-top: 25px; }
  .gif-container {
    padding-top: 10px; }
  .results {
    padding: 5px 20px 0 20px; } }

@media (max-width: 700px) {
  h1 {
    font-size: 8rem; }
  header h2 {
    font-size: 3rem; }
  input[type="radio"] + label {
    width: 90%; }
  h2 {
    font-size: 4rem; }
  .pep-paragraph {
    padding: 0; } }

@media (max-width: 600px) {
  h1 {
    text-align: center; }
  h2 {
    font-size: 3rem; }
  input[type="radio"] + label {
    width: 100%; }
  .new-choice {
    padding: 0; }
  .gif-container {
    width: 100%; } }

@media (max-width: 400px) {
  h1 {
    font-size: 6rem;
    padding-top: 40px; }
  header {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    header h2 {
      font-size: 2rem;
      padding-top: 40px; }
  #name {
    width: 80%; }
  h2 {
    font-size: 3rem;
    background: none; }
  .input-container {
    width: 90%; }
  .pep-paragraph {
    font-size: 1.8rem; }
  .pep-container {
    padding: 0; } }
